.nav {
  position: absolute;
  z-index: 999;
  width: calc(100% - 4rem);
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;

  @media only screen and (max-width: $tab-port) {
    width: 100vw;
  }

  &__dropdown {
    @extend .no-select;
    position: absolute;
    top: calc(100px - 15px);
    right: calc(4rem - 15px);
    width: 250px;
    background-color: #282828;
    border-radius: 5px;
    padding: 4px 0;
    z-index: 999999;

    @media only screen and (max-width: $phone) {
      display: none;
    }

    &__item {
      display: flex;
      align-items: center;
      margin: 0 4px;
      padding: 0 10px;
      border-radius: 2px;
      height: 40px;

      &:hover {
        background-color: #3e3e3e;
      }
    }
  }

  &__logo {
    cursor: pointer;
  }

  &__title {
    top: 100px;
    left: 0;
    width: 100%;
    height: 100px;
    // background: #fff;
    position: absolute;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    text-align: center;

    h2 {
      padding: 20px;
    }

    .heading-button {
      display: flex;
      align-items: center;
      margin-top: 2px;
      margin-left: 20px;

      @media only screen and (max-width: $phone) {
        margin-top: 5px;
      }
    }

    @media only screen and (max-width: $tab-port) {
      width: 100vw;
    }

    @media only screen and (max-width: $phone) {
      font-size: 1.6rem;
      padding: 0 15px;
    }

    @media only screen and (max-width: $phone - 200) {
      // hide text from button and leaving only icon
      .ant-btn {
        span:nth-child(2) {
          display: none;
        }
      }
    }
  }

  .menus {
    @media only screen and (max-width: $phone) {
      display: none;
    }
  }

  .mobile-menus {
    display: none;

    @media only screen and (max-width: $phone) {
      width: 50px; // same width as leaf logo
      display: block;
    }
  }

  .nav-custom-btn {
    &, // this will tell that these styles will applied to <button> element too 'cause it doesn't have link & visited pseudo classes
    &:link,
    &:visited {
      text-decoration: none;
      padding: 0.9rem 1.9rem;
      border-radius: 10rem;
      transition: all 0.2s;
      position: relative;
      font-size: 0.9rem;
      border: 1px solid transparent;
      cursor: pointer;

      @media only screen and (max-width: $tab-port) {
        font-size: 0.8rem;
        padding: 0.8rem 1.6rem;
      }
    }
  }

  .custom-btn {
    &, // this will tell that these styles will applied to <button> element too 'cause it doesn't have link & visited pseudo classes
    &:link,
    &:visited {
      text-transform: uppercase;
      text-decoration: none;
      padding: 0.9rem 1.9rem;
      border-radius: 10rem;
      transition: all 0.2s;
      position: relative;
      font-size: 0.9rem;

      // Change for the <button> element
      border: 0;
      cursor: pointer;

      @media only screen and (max-width: $tab-port) {
        font-size: 0.8rem;
        padding: 0.8rem 1.6rem;
      }
    }
  }
}

.navigation {
  &__search {
    visibility: hidden;
  }

  &__checkbox {
    display: none;
  }

  &__button {
    background-color: $color-white;
    height: 4rem;
    width: 4rem;
    position: fixed;
    top: 18px;
    right: 36px;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba($color-black, 0.1);
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__background {
    // button is 1rem higher & wider than background
    height: 3.8rem;
    width: 3.8rem;
    border-radius: 50%;
    position: fixed;
    // starts at top-right spanning over the entire viewport because of full height & width when checked
    top: 20px;
    right: 38px;
    background-image: radial-gradient(
      $color-primary-light,
      $color-primary-dark
    );
    z-index: 1000;
    // for using custom timing cubic-bezier INFO: easings.net / cubic-bezier.com
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); // easeInOutQuint

    // test: dev-purposes
    // transform: scale(80);
  }

  &__nav {
    // occupy viewport with full height & width
    height: calc(90vh - 140px);
    // width: 100%; // only be viewed when checkbox is :checked
    position: fixed;
    // starts at left moving over the entire viewport because of full height & width
    top: 200px;
    left: -90%; // hide nav on left side
    z-index: 1500;
    // set to hidden
    opacity: 0; // Temp
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); // easeInOutBack
    display: flex;
    // align-items: center;
    align-items: flex-start;
  }

  &__list {
    // @include position-absolute-center;
    list-style: none;
    text-align: center;
    width: 100%;
    padding: 0;
  }

  &__item {
    margin: 0.5rem; // margin between elements lists
  }

  // NOTE: Link Animation
  &__link {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 300;
    padding: 0rem 1rem;
    color: $color-white;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(
      120deg,
      transparent 0%,
      transparent 50%,
      $color-white 50%
    );
    background-size: 240%; // move background to the right side by increasing its size
    transition: all 0.4s;

    span {
      margin-right: 1.5rem;
      display: inline-block;
    }

    &:hover,
    &:active {
      background-position: 100%; // shift back background to its position
      color: $color-primary;
      // transform: translateX(1rem);
    }
  }

  // NOTE: Functionality

  // if label is clicked then checkbox is checked because of id & for must be the same name
  &__checkbox:checked ~ &__search {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s linear;
  }

  &__checkbox:checked ~ &__background {
    transform: scale(80); // scale background to 80
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
    left: 0;
  }

  // NOTE: Icon
  &__icon {
    position: relative;

    // Create Lines
    &,
    &::before,
    &::after {
      width: 2rem;
      height: 2px;
      background-color: $color-grey-dark-3;
      display: inline-block;
    }

    // In order for pseudo class to appear you should defined its content property
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: -0.5rem; // move up
    }

    &::after {
      top: 0.5rem; // move down
    }
  }

  &__button:hover &__icon::before {
    top: -0.6rem;
  }

  &__button:hover &__icon::after {
    top: 0.6rem;
  }

  // + When the checkbox is selected, then we select its sibling which is button and then child which is the icon
  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}

.search {
  display: flex;
  transition: 2 all;

  @media screen and (max-width: $phone) {
    display: none;
  }

  &__icon {
    cursor: pointer;
    font-size: 1.5rem;

    &--white {
      color: #fff;
    }

    &--green {
      color: $color-primary;
    }
  }

  &__close {
    cursor: pointer;
    position: relative;
    background-color: transparent;

    // Create Lines
    &,
    &::before,
    &::after {
      width: 1.6rem;
      height: 2px;
      display: inline-block;
    }

    // In order for pseudo class to appear you should defined its content property
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
      background-color: $color-white;
    }

    &::before {
      top: 0;
      transform: rotate(135deg);
    }

    &::after {
      top: 0;
      transform: rotate(-135deg);
    }
  }

  &__input {
    width: 100%;
    background-color: $color-primary;
    border: none;
    outline: none;
    font-size: 1.8rem;
    color: #fff;
  }

  &__box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: $color-primary;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    gap: 20px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s linear;

    &--mobile {
      top: 90px;
      position: fixed;
      background-color: transparent;

      .search__input {
        background-color: transparent;
      }
    }

    &.visible {
      visibility: visible;
      opacity: 1;
      transition: opacity 0.2s linear;
    }
  }
}
