.stripe-row {
  max-width: 475px;
  margin: 30px auto;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #829fff;
  border-radius: 4px;
  background-color: $color-primary;
  position: relative;
}

.error-container {
  color: #000;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  padding: 0 15px;
  font-size: 13px;
  margin: -10px auto 0px auto;
  width: 100%;
  max-width: 450px;
  opacity: 90;
  animation: fade 150ms ease-out;
  animation-delay: 50ms;
  animation-fill-mode: forwards;
  will-change: opacity;

  & svg {
    margin-right: 10px;
  }
}

@keyframes fade {
  from {
    opacity: 0;
    transform: scale3D(0.95, 0.95, 0.95);
  }
  to {
    opacity: 1;
    transform: scale3D(1, 1, 1);
  }
}

.card-element-container {
  height: 48px;
  display: flex;
  align-items: center;

  & .StripeElement {
    width: 100%;
    padding: 15px;
  }
}

.form-field-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 15px;
  border-top: 1px solid rgb(220, 223, 221);

  &:first-of-type {
    border-top: none;
  }
}

.stripe-label {
  width: 20%;
  min-width: 70px;
  padding: 11px 0;
  color: #c4f0ff;
  overflow: hidden;
  font-size: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.stripe-input {
  font-size: 16px;
  width: 100%;
  padding: 11px 15px 11px 8px;
  color: #fff;
  background-color: transparent;
  animation: 1ms void-animation-out;
  outline: none;
  border: none;

  &::placeholder {
    color: #87fdaa;
    margin-top: 12px;
  }
}

.submit-button {
  display: block;
  height: 40px;
  width: 100%;
  box-shadow: "0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #ffb9f6;";
  border-radius: 4px;
  opacity: 1;
  color: #fff;
  font-weight: 600;
  cursor: pointer;

  &__disabled {
    box-shadow: none;
    opacity: 0.5;
    cursor: pointer;
    pointer-events: none;
  }
}

.stripe-success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;

  h1 {
    font-size: 1.5rem;
  }
}
