.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 3rem !important;

  @media screen and (max-width: $tab-port) {
    margin-bottom: 2rem !important;
  }
}

.u-margin-bottom-big {
  margin-bottom: 4rem !important;

  @media screen and (max-width: $tab-port) {
    margin-bottom: 3rem !important;
  }
}

.u-margin-top-big {
  margin-bottom: 5rem !important;
}
.u-margin-top-huge {
  margin-bottom: 8rem !important;
}